// put your sass code here

// default quesion styling
.quizOption {
    background-color: #787878;
}
// when quesion is selected styling
.active {
    background-color: green;
}

// progression bar styling
// .progression bar is the container (bg colour here is the background colour you see)
.progressionBar {
    background-color: #ffaa00;
    height: 25px;
    // this elements width is auto adjusted (DONT ADD WIDTH TAG). change bg color to change progression bar colour
    div {
        height: 100%;
        background-color: #fff327;
    }
}

// Learn styling

body{
     height:100vh;
     background: -moz-linear-gradient(top, rgba(255,170,0,1) 0%, rgba(255,170,0,0.64) 50%, rgba(107,0,154,1) 100%);
     background: -webkit-linear-gradient(top, rgba(255,170,0,1) 0%,rgba(255,170,0,0.64) 50%,rgba(107,0,154,1) 100%);
     background: linear-gradient(to bottom, rgba(255,170,0,1) 0%,rgba(255,170,0,0.64) 50%,rgba(107,0,154,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#6b009a',GradientType=0 );
}

// h1 styling 
h1{
	text-align: center;
	padding-top: 83px;
	padding-bottom: 130px;
}

// a styling
a{
	text-decoration: none;
}

//Quiz container

.quiz-container{
	
}

// Quiz container li styling

.quiz-container li{
	text-align: center;
	padding-bottom: 75px;
	list-style-type: none;
}
