// *** quiz specific styling *** 
// default quesion styling
.quizOption {
    background-color: transparent;
}
// when quesion is selected styling
.active {
    background-color: #fff;
}

#learn {
    .page-title {
        h1 {
            color: white;
        }
    }
}

#learn{
    padding-bottom: 200px;
}

// quiz page modal popup styling
.learn-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: fixed;
    z-index: 2;
    .modal-wrapper {
        width:100%;
        // Will's code
            // max-width: 500px;
            // min-width: 400px;
            // border-radius: 40px;
        height: auto;
        h1 {
            height: 400px;
            width: 250px;
            position: absolute;
            left: 0; 
            right: 0; 
            top: 50px;
            margin-left: auto; 
            margin-right: auto;
            padding-top: 20px;
            color: $orange-yellow !important;
            background: url(images/quizshape-one.png) no-repeat center center;
            background-position: 50% 0;
        }
        .close{
            position: absolute;
            left: 40%; 
            right: 0; 
            top: 150px;
            margin-left: auto; 
            margin-right: auto;
        }

        .quiz-info {
            position: absolute;
            left: 0; 
            right: 0; 
            top: 200px;
            margin-left: auto; 
            margin-right: auto;
            background-color: #FDF4DF;
            // AJ Fix
            max-width: 500px;
            width: calc(100% - 30px);
            margin: 0 15px;
            border-radius: 40px;
        }
    }
    p {
        color: $orange-yellow !important;
        font-size: 18px;
    }
    h2 {
        font-family: $heebo;
        color: #FFAA00;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        // AJ
        span {
            text-transform: capitalize;
        }
    }

    .pop-option {
        font-family: $heebo;
        color: $orange-yellow !important;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 0;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color:#fff;
        a {
            font-family: Arial;
            color: #FFAA00;
            text-decoration: none;
        }
        a:visited {
            color: #FFAA00;
        }
    }

}



// progression bar styling
// .progression bar is the container (bg colour here is the background colour you see)
.progressionBar {
    width: 75%;
    margin: 0 auto;
    background-color: $quiz-light-white;
    height: 1px;
    position: relative;
    // this elements width is auto adjusted (DONT ADD WIDTH TAG). change bg color to change progression bar colour
    div {
        height: 100%;
        background-color: $quiz-light-white;
        height: 3px;
        position: absolute;
        top: -1px;
        left: 0;
        border-radius: 50px;
    }
}
.quizQuestions {
    list-style-type: upper-latin;
}



//Hover variables

$a-tags: 'a, a:active, a:hover, a:visited';

$a-tags-hover: 'a:active, a:hover';




// Learn body gradient styling
#learn, #individual_quiz {
    height: auto;
    margin: 0;
    z-index: -10;
    background: -moz-linear-gradient(top, rgba(255,170,0,1) 0%, rgba(255,170,0,0.64) 100%);
    background: -webkit-linear-gradient(top, rgba(255,170,0,1) 0%,rgba(255,170,0,0.64) 100%);
    background: linear-gradient(to bottom, rgba(255,170,0,1) 0%,rgba(255,170,0,0.64) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#a3ffaa00',GradientType=0 );
    
    // AJ
    padding: 50px 15px 15px;

   .hint {
        width: 60%;
        height: auto;
        margin: auto;
        p {
            text-align: center;
            padding-top: 45px;
            padding-bottom: 85px; 
            color:#fff;
        }
    }
}


// Quiz container styling 
.quiz-container{
    height: auto;
    margin: 0;
    padding: 0;
    .animal-background {
        width: 100vw;
        height: 100vh;
        background-size: 85%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

// Single Quiz container styling

    .single-quiz-container {
        min-height: 100vh;
        z-index: 1;
        position: relative;
        background-color: rgba(255,170,0,.35);

        .page-title {
            h1 {
                color: white;
            }
        }

    .questionContainer{
        margin-left: auto;
        margin-right: auto;
        background-color: #FDF4DF;
        width: 80%;
        height: auto;
        max-width: 90%;
        border-radius: 10px;
        }

    .question-title{
        font-family: $heebo;
        font-size: 16px;
        color: #fff;
        opacity: 0.8;
        }

    h2{
       padding-left:10px;
       padding-right:10px;
       padding-top: 20px;
       font-family: $heebo;
       font-size: 20px;
       color: $orange-yellow;
    }

    ul{
        text-align:center;
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 30px;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: $heebo;
        font-size: 17px;
        color: black;
        // AJ Fix
        border-bottom: 0.2px #BDBFB8 solid;
        &:last-child {
            border-bottom: none;
        }
    }
    

    // WILL'S CODE
    //  li:nth-child(1){
    //    border-bottom: 0.2px #BDBFB8 solid;
    // }

    //  li:nth-child(2){
    //    border-bottom: 0.2px #BDBFB8 solid;
    // }

    //  li:nth-child(3){
    //    border-bottom: 0.2px #BDBFB8 solid;
    // }

    div{
        p{

        text-align: center;
         }
      }

    .question-nav{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 20px;

      button{
      height: 30px;
      margin-left:5px;
      font-family: $heebo;
      font-size: 14px;
      color: $orange-yellow;
      text-decoration: none;
      border: none;
      border-radius: 10px;
      background-color: #fff;
      }

      button:nth-child(1){
      }

      button:nth-child(2){
      padding-right: 40px;
      padding-left: 40px;
      }

    }
}
//Quiz completed page
    .quiz-completed{ 
      width: 100%;
      height: 100vh;
        .progressionBar{
        position: center;
        top: 100px;
        }
    .completed-head{
        padding-top: 100px;
        h2{
        text-align: center;
        color: #fff;
        font-size: 22px;
        }
        h3{
        text-align: center;
        color: #fff;
        font-size: 15px;
        }
    }
    .completed-score{
        h2{
        text-align: center;
        color: #fff;
        font-size: 60px;
        margin: 0;
        }
        h3{
        text-align: center;
        color: #fff;
        font-size: 15px;
        padding-bottom: 30px;
        }
    }
    
    .completed-back{
    color: $orange-yellow;
    font-family: $heebo;
    position: absolute;
    top: 450px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 4px;
    padding-bottom: 4px;
    width: 300px; 
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    }

    .completed-restart{
    color: #fff;
    font-family: $heebo;
    position: absolute;
    top: 500px; 
    left: 0; 
    right: 0; 
    width: 300px;
    height: 30px; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 6px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    }
    }

    div {
        div {
            .quizTiles {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                align-content: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                padding-bottom: 200px;
                li {
                    display: grid;
                    grid-template-columns: 1;
                    grid-template-rows: 1;
                    align-content: center;
                    justify-content: center;
                    align-self: center;
                    justify-self: center;
                    height: 100%;
                    width: 100px;
                    margin: 5px;
                    font-size: 35px;
                    text-align: center;
                    padding-top: 60px;
                    padding-bottom: 60px;
                    list-style-type: none;
                    .quizNumber {
                        height: 100%;
                        width: 100%;
                        align-self: stretch;
                        justify-self: stretch;
                        grid-column: 1;
                        grid-row: 1;
                        color: white;
                        background-color: transparent;
                        z-index: 1;
                        margin: 0;
                        padding: 0;
                        display: grid;
                        p {
                            font-family: $heebo;
                            text-align: center;
                            align-self: center;
                            justify-self: center;
                            color: $orange-yellow;
                            font-weight: bold;
                        }
                        img {
                            align-self: center;
                            justify-self: center;
                        }
                    }
                    .quizSvgBackground {
                        height: 100%;
                        width: 100%;
                        background-color: transparent;
                        grid-column: 1;
                        grid-row: 1;
                        fill: $orange-yellow;   
                        margin: 0;
                        padding: 0;
                        display: grid;
                        align-content: center;
                        justify-content: center;
                        svg {
                            width: 100% !important;
                            background: none;
                            stroke: white;
                            stroke-width: 5px;
                            path {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                .noAttempt { //user not done quiz before
                    .quizSvgBackground {
                        fill: white;
                    }
                }
                .progress { // =completed quiz - but not 100%
                    .quizNumber {
                        font-size: 0;
                    }
                }
                .star { // completed quiz and got 100%
                    .quizNumber {
                        font-size: 0;
                    }
                }
                li:last-of-type {
                    margin-bottom: -60px;
                    overflow: hidden;
                }
                // allows css to be dynamic - targets every multiple of 5 (because 5 different bg images)
                // li:nth-of-type(5n) {
                //     background: url(images/quizshape-one.png) no-repeat center center;

                // }
                // li:nth-of-type(5n + 1) {
                //     background: url(images/quizshape-two.png) no-repeat center center;
                // }
                // li:nth-of-type(5n + 2) {
                //     background: url(images/quizshape-three.png) no-repeat center center;
                // }
                // li:nth-of-type(5n + 3) {
                //     background: url(images/quizshape-four.png) no-repeat center center;
                // }
                // li:nth-of-type(5n + 4) {
                //     background: url(images/quizshape-five.png) no-repeat center center;
                // }
            }
        }
    }
}
