.generate {
    .preview-message {
        text-align: center;
        p {
            margin: 0 0 20px;
            line-height: 1.5;
            color: #666;
        }
    }
    .btn {
        background: $red;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms ease-in-out;
        &.fadeIn {
            opacity: 1;
            pointer-events: all;
        }
    }
    .map-preview {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        &:not(.show-map) {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: -99999px;
        }
    }
    #canvas-wrapper {
        margin-right: -30px;
        margin-left: -30px;
        max-width: 375px;
        overflow: auto;
        margin-bottom: 20px;
        canvas {
            display: block;
        }
    }
}