.journey-single {
    .single-wrapper {
        h3 {
            margin: 0 0 30px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $heebo;
        }
    }
    .journey-listing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .single-image {
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid $light-grey;
        }
        .no-results {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .capture-bar {
        position: fixed;
        bottom: 30px;
        left: 0;
        width: 100%;
        .capture-icon {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 72px;
            border-radius: 50%;
            background: white;
            display: inline-block;
            cursor: pointer;
            text-indent: -99999px;
            overflow: hidden;
            box-shadow: 0 2px 6px 0 rgba($black, 0.2);
            &:after {
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 18px;
                height: 18px;
                border: 3px solid $black;
                border-radius: 50%;
            }
        }
    }
}