.journey-single {
    .single-wrapper {
        .journey-title {
            margin: 0 0 30px;
            display: grid;
            grid-template-columns: auto 16px;
            h3 {
                margin: 0;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $heebo;
            }
        }
    }
    .journey-listing {
        margin-right: -10px;
        margin-left: -10px;
        padding: 0;
        @include clearfix();
        .single-image {
            overflow: hidden;
            margin-bottom: 20px;
            padding: 0 10px;
            width: 50%;
            z-index: 0;
            &.editing,
            &.viewing {
                z-index: 10;
            }
            img {
                border-radius: 10px;
                display: block;
                border: 1px solid $light-grey;
            }
            &.viewing {
                &.editing {
                    .journey-dialogue:first-of-type {
                        display: none;
                    }
                }
            }
            .journey-dialogue {
                .dialogue-inner {
                    margin-top: 0;
                    .image-preview {
                        background: $light-grey;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        position: relative;
                        img {
                            width: auto;
                            height: 230px;
                            margin: 0 auto;
                            border: none;
                            border-radius: 0;
                        }
                        .image-actions {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 20px;
                            > div {
                                margin-bottom: 10px;
                            }
                            svg {
                                fill: #909090;
                            }
                        }
                    }
                    .image-info {
                        margin-bottom: 30px;
                        padding-bottom: 20px;
                        border-bottom: 2px solid $light-grey;
                        p {
                            margin: 0 0 5px;
                            text-transform: capitalize;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            strong {
                                font-family: $heebo;
                                font-weight: bold;
                            }
                        }
                    }
                    .enclosure-select {
                        position: relative;
                        margin-bottom: 30px;
                        &:not(.open) {
                            .enclosures {
                                transform: scale(0) translateX(-50%);
                                display: none;
                            }
                        }
                        .enclosures {
                            width: 100%;
                            position: absolute;
                            bottom: calc(100% + 20px);
                            left: 50%;
                            transform: scale(1) translateX(-50%);
                            transform-origin: center left;
                            height: 230px;
                            overflow-y: auto;
                            margin: 0;
                            padding: 10px 0;
                            background: white;
                            border-radius: 10px;
                            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
                            transition: transform 300ms ease-in-out;
                            li {
                                padding: 20px;
                                text-transform: uppercase;
                                font-size: 14px;
                                cursor: pointer;
                                font-weight: bold;
                                font-family: $heebo;
                                &:not(:first-child) {
                                    border-top: 1px solid #eee;
                                }
                                &.active {
                                    background: #eee;
                                }
                            }
                        }
                        .enclosure-toggle {
                            @extend .btn;
                            @extend .btn-outline;
                            color: $black;
                            background: none;
                            border-color: $light-grey;
                            font-size: 14px;
                            text-transform: uppercase;
                            padding: 10px;
                            &.error {
                                border-color: $red;
                            }
                            &:after {
                                content: '';
                                display: inline-block;
                                width: 14px;
                                height: 11px;
                                background: url('./images/journey-arrow-down.svg') no-repeat center center / 14px 11px;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
        .no-results {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .capture-bar {
        position: fixed;
        bottom: 30px;
        left: 0;
        width: 100%;
        z-index: 1;
        .capture-icon {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 72px;
            border-radius: 50%;
            background: white;
            display: inline-block;
            cursor: pointer;
            text-indent: -99999px;
            overflow: hidden;
            box-shadow: 0 2px 6px 0 rgba($black, 0.2);
            &:after {
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 18px;
                height: 18px;
                border: 3px solid $black;
                border-radius: 50%;
            }
        }
    }
}