.journey-single {
    .single-wrapper {
        h3 {
            margin: 0 0 30px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $heebo;
        }
    }
}