.user-achievements {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    .badge-container {
        display: grid;
        justify-content: center;
        align-content: center;
        div, h3 {
            display: grid;
            justify-self: center;
            align-self: center;
        }
    }
}
.badge-img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}