.profile-page {
    padding: 27px 30px 40px;
    height: auto;
    .user-details {
        text-align: center;
        .profile-image {
            width: 80px;
            margin: 0 auto;
        }
        .image-wrapper {
            margin-bottom: 15px;
            display: block;
            width: 80px;
            height: 80px;
            img, svg {
                width: 80px;
            }
        }
        p {
            margin: 0 0 10px;
        }
        .user-stats {
            margin-top: 30px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            opacity: 0;
            transition: opacity 250ms ease-in-out;
            &.fadeIn {
                opacity: 1;
            }
            .stat {
                padding: 25px 15px;
                border-radius: 10px;
                border: 1px solid $light-grey;
                &.red {
                    border-color: $red;
                }
                &.purple {
                    border-color: $purple;
                }
                strong {
                    display: block;
                    font-size: 30px;
                    font-weight: bold;
                    font-family: $heebo;
                }
                p {
                    margin: 0;
                }
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .upload-image-form {
        input {
            @extend .btn;
            @extend .btn-outline;
            color: $black;
            font-size: 14px;
            border-color: $red;
        }
    }
    .controls {
        margin-top: 20px;
        .btn {
            background: $red;
            color: white;
            text-decoration: none;
        }
    }
}

.profile-image {
    position: relative;
    .image-wrapper {
        border-radius: 50%;
        overflow: hidden;
        display: block;
        border: 1px solid $light-grey;
        svg {
            display: block;
            fill: darken($light-grey, 10%);
        }
    }
    .image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .settings-dropdown {
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        .trigger {
            width: 16px;
            line-height: initial;
            svg {
                display: block;
            }
        }
    }
}