.sign-in-register {
    display: grid;
    grid-template-rows: 40px auto;
    .sign-in-wrapper {
        align-self: end;
        max-width: 225px;
        width: 100%;
        margin: 0 auto 45px;
        .register-bg {
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: auto 667px;
            opacity: 0.15;
            &.giraffe {
                background-image: url('./images/welcome/giraffe-sign-in.png');
            }
            &.cheetah {
                background-image: url('./images/welcome/cheetah-sign-in.png');
            }
        }
        .select-path, form {
            position: relative;
            z-index: 2;
        }
        .select-path {
            a:not(:first-child) {
                margin-top: 15px;
            }
        }
        form {
            .input-wrapper {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-repeat: no-repeat;
                    background-size: 14px 14px;
                    background-position: center center;
                    position: absolute;
                    right: calc(100% + 10px);
                    opacity: 0;
                    transition: opacity 250ms ease-in-out;
                }
                &.tick:before,
                &.cross:before {
                    opacity: 1;
                }
                &.tick:before {
                    background-image: url('./images/entry-tick.svg');
                }
                &.cross:before {
                    background-image: url('./images/entry-cross.svg');
                }
            }
            .form-actions {
                margin-top: 70px;
                position: relative;
                .form-error {
                    font-family: $heebo;
                    font-size: 10px;
                    color: white;
                    position: absolute;
                    bottom: calc(100% + 4px);
                }
            }
            .below-button-back {
                font-size: 14px;
                text-decoration: underline;
                color: white;
                text-align: center;
                display: block;
                margin-top: 5px;
            }
        }
    }
}