/**
    Core SCSS file, should ONLY include imports! Order is important!
    Any other scss files should be added in the 'scss' folder, and NEED to be partials
    eg. '_base.scss' - requires a '_' in front
*/

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Raleway|Satisfy');

@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/base';
@import 'scss/globals';

// Global Elements
@import 'scss/global/signinregister';
@import 'scss/global/logo';
@import 'scss/global/entry';
@import 'scss/global/profile';
@import 'scss/global/claim';
@import 'scss/global/achievements';

// Journey Code
@import 'scss/journey/capture';
@import 'scss/journey/journey';
@import 'scss/journey/journey-single';
@import 'scss/journey/generate';

// Learn Code
@import 'scss/learn/quiz';