/**
    Base styling for the project. Should only contain declarations for HTML elements.
    Should not also include classes
    ONLY exception:
        label, .label
    
    We may want a different items to share the label styling but not a label element.
*/

body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
}

* {
    box-sizing: border-box;
}