/**
    Should ONLY contain scss variables
    Reference design for colours, font sizes etc - please don't guess values
    See documentation - https://sass-lang.com/guide#topic-2
*/

$base-font-size: 16px;

$font-family: 'Raleway', sans-serif;
$deco-family: 'Satisfy', cursive;
$heebo: 'Heebo', sans-serif;

$purple: #AB629B;
$light-grey: #eee;
$black: #211f27;
$orange-yellow: #F7B332;
$red: #FA6E71;
$quiz-light-white: #FDF4E0;